* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blanchedalmond;
    padding: 0px;
    margin: 0px;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

header h1 {
    color: rgb(116, 91, 62);
    margin-bottom: 10px;
}



nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(116, 91, 62);
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    margin: 50px;
    font-size: 1.7rem;
    color: antiquewhite;
}


nav ul li a:hover {
    color: rgb(116, 91, 62);
    background-color: antiquewhite;
    border-radius: 50px;
    padding: 10px 20px;

}





/* Featured Dishes Section */
section {
    padding: 20px;
}

section h1 {
    text-align: center;
    color: #8B0000;
}


section p {
    text-align: center;
    margin: 15px 0;
}

h2 {
    text-align: center;
    color: #8B0000;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: white;
}

/* Images Styling */
img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

/* Nested Table */
.nested-table {
    width: 100%;
    border: none;
}

.nested-table td {
    border: none;
}

/* Footer Styling */
footer {
    background-color: #8B0000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


.chef-photo {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    display: block;
  }
  

  form {
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
}

form label {
    display: block; 
    margin: 10px 0; 
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
    width: 100%; 
    padding: 10px; 
    margin-top: 5px; 
    border-radius: 5px; 
    border: 1px solid #ddd; 
}

form input[type="submit"] {
    background-color: #8B0000; 
    color: white;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form input[type="submit"]:hover {
    background-color: #A52A2A; 
}
